.btn{
    background-color: black !important;
    color: white !important;
    padding: 12px 60px !important;
    margin-right: 20px;
}
.btn:hover{
    background-color: transparent !important;
    color: black !important;
    border: 1px solid black !important;
}
.Section1 h1{
    font-size: 65px !important;
    font-weight: 900 !important;
}
.underline {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}
.container-left{
    gap: 100px;
}
p{
    margin-bottom: 0;
}