.user-news {
  width: 100%;
  height: 168px;
  border-radius: 30px;
  border: 1px solid #F6F6F6;
  padding: 0;
}
.img-banner {
  width: 100%;
  
}

.img-banner img {
  width: 100%;
  object-fit: cover;
}

.user-news img {
  left: 20px;
}

.info .line {
  background-color: #F6F6F6;
  border-radius: 50%;
}

.info .line-top {
  background-color: #00ACFF;
} 

.info {
  border-bottom: 1px solid #F6F6F6;
  padding-left: 85px;
}

