.news-left {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #f6f6f6;
  padding: 0;
}
.img-banner {
  width: 100%;
}

.img-banner img {
  width: 100%;
  object-fit: cover;
}

.news-left img {
  left: 20px;
}

.info .line {
  background-color: #f6f6f6;
  border-radius: 50%;
}

.info .line-top {
  background-color: #00acff;
}

.info {
  padding-left: 85px;
}

.news-mid {
  width: 570px;
  border-radius: 16px;
  border: 1px solid #f6f6f6;
  /* Shadow 02dp */
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14),
    0px 0px 1px 0px rgba(0, 0, 0, 0.12);
  margin-left: 20px;
  padding: 16px 12px;
}

.news-mid .news-article {
  width: 100%;
}

.news-mid img {
  border-radius: 100rem;
}

.news-mid .news-send > img{
  border-radius: 100rem;
  padding: 9px 8px 7px 8px;
  background-color: #F5F5F5;
}

.news-mid .news-line {
  
}