.news-left {
  border-radius: 30px;
}
.img-banner {
  padding: 0;
  width: 100%;
}

.img-banner img {
  width: 100%;
  object-fit: cover;
}

.news-left img {
  left: 20px;
}

.info .line {
  background-color: #f6f6f6;
  border-radius: 50%;
}

.info .line-top {
  background-color: #00acff;
}

.info {
  padding-left: 85px;
}

.news-mid {
  width: 570px;
  border-radius: 16px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14),
    0px 0px 1px 0px rgba(0, 0, 0, 0.12);
  margin:0 20px;
  padding: 16px 12px;
  background-color: #fff;
}

.news-mid .news-article {
  width: 100%;
}

.news-mid .news-send > img{
  padding: 9px 8px 7px 8px;
  background-color: #F5F5F5;
  border-radius: 50%;
}

.news-right {
  margin: 0;
  border-radius: 16px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14),
    0px 0px 1px 0px rgba(0, 0, 0, 0.12);
  padding: 16px 0;
  background-color: #fff;
}